/*COLOR SCHEME
Aliceblue: #ebf4fa, rgb(235,244,250)
Powerblue: #bbd9ee, rgb(187,217,238)
Cornflowerblue: #54a4de, rgb(84,164,222)
Steelblue: #206ba4, rgb(32,107,164)
Goldenrod: #ffab35, rgb(255,171,53)
Lightslategray: #6d8ca0, rgb(109,140,160)
Linen: #f4f5e7, rgb(244,245,231)*/

body {
  background: #ebf4fa;
  font-family: 'Baloo Bhaina', cursive;
  line-height: 0;
}

* {
  box-sizing: border-box;
}

table[class^="row"] {
  width: 100%;
}

td {
  text-align: center;
  vertical-align: middle;
}

.row-1 {
  height: 8vw;
}

.row-4 {
  height: 30vw;
  background: #ebf4fa;
}

.row-5 {
  height: 5vw;
  background: #ebf4fa;
}

#heading {
  color: #206ba4;
  font-size: 5vw;
  padding-top: 1vw;
}

#heading:hover {
  cursor: default;
}

input {
  font-size: 1.5vw;
}

#start-btn {
  background: #206ba4;
  color: #ebf4fa;
  padding: 0.2vw 1.5vw;
  border: none;
  border-radius: 1vw;
  outline: none;
}

img[class^="icon"] {
  width: 25vw;
  height: auto;
}

.icon-male,
.icon-female {
  position: relative;
}

.icon-male {
  left: 8vw;
}

.icon-female {
  right: 8vw;
}

.icon-male:hover,
.icon-female:hover,
#start-btn:hover {
  background: #ffab35;
  cursor: pointer;
}

.icon-male:hover,
.icon-female:hover {
  border-radius: 50%;
}



