/*COLOR SCHEME
Aliceblue: #ebf4fa, rgb(235,244,250)
Powerblue: #bbd9ee, rgb(187,217,238)
Cornflowerblue: #54a4de, rgb(84,164,222)
Steelblue: #206ba4, rgb(32,107,164)
Goldenrod: #ffab35, rgb(255,171,53)
Lightslategray: #6d8ca0, rgb(109,140,160)
Linen: #f4f5e7, rgb(244,245,231)*/

body {
  background: #ebf4fa;
  font-family: 'Baloo Bhaina', cursive;
  line-height: 0;
}

* {
  box-sizing: border-box;
}

p {
  color: green;
}

table[class^="row"] {
  width: 100%;
}

td {
  /*border: 1px solid black;*/
  text-align: center;
  vertical-align: middle;
}

.row-2, .row-5 {
  display: none;
}

.row-4 {
  margin-top: 4vw;
}

.col-left,
.col-right {
  width: 45%;
  max-width: 45%;
}

.col-mid {
  width: 10%;
}

#heading {
  /*color: #206ba4;*/
  color: black;
  font-size: 5vw;
  padding: 4vw 0 3vw;
}

#heading:hover {
  cursor: default;
}

input {
  font-size: 1.5vw;
  display: block;
  margin: 1vw auto;
}

#start-btn {
  font-family: 'Baloo Bhaina';
  font-size: 2vw;
  line-height: 3vw;
  background: #206ba4;
  color: #ebf4fa;
  padding: 0.4vw 1.5vw 0;
  border: none;
  border-radius: 1vw;
  outline: none;
}

#start-btn:hover {
  color: black;
  background: #ffab35;
  cursor: pointer;
}

img[id^="icon"] {
  width: 15vw;
  height: auto;
}

#icon-male,
#icon-female {
  position: relative;
}

#icon-male {
  left: 17vw;
}

#icon-female {
  right: 17vw;
}

#icon-male:hover,
#icon-female:hover {
  background: #206ba4;
  border-radius: 50%;
  cursor: pointer;
}

#icon-male:target,
#icon-female:target {
  background: #ffab35;
  border-radius: 50%;
}

.player-div {
  display: inline-block;
  margin: 1vw 0 0 0;
}

.player-icon {
  width: 5vw;
  display: block;
  float: left;
  
}

.player-name {
  font-size: 2vw;
  line-height: 2vw;
  margin: 1.7vw 0 0 1vw;
  float: left;
}

ul {
  margin: 2vw auto;
}

li {
  font-size: 3vw;
  line-height: 3vw;
  margin: 1vw auto;
}

li:hover {
  color: #ffab35;
  cursor: pointer;
}

#game-progress {
  font-size: 5vw;
  line-height: 6vw;
  margin: 1vw auto;
}

.score-div {
  width: 10vw;
  position: relative;
  margin: 0.5vw auto;
}

.player-wins,
.player-losses {
  font-size: 1vw;
  line-height: 1vw;
  display: table-cell;
  width: 5vw;
}

#vs {
  font-size: 3vw;
}


