/*COLOR SCHEME
Aliceblue: #ebf4fa, rgb(235,244,250)
Powerblue: #bbd9ee, rgb(187,217,238)
Cornflowerblue: #54a4de, rgb(84,164,222)
Steelblue: #206ba4, rgb(32,107,164)
Goldenrod: #ffab35, rgb(255,171,53)
Lightslategray: #6d8ca0, rgb(109,140,160)
Linen: #f4f5e7, rgb(244,245,231)*/

body {
  background: #ebf4fa;
  font-family: 'Baloo Bhaina', cursive;
  line-height: 0;
}

* {
  box-sizing: border-box;
}

table[class^="row"] {
  width: 100%;
}

td {
  border: 1px solid black;
  text-align: center;
  vertical-align: middle;
}

.row-2, .row-5 {
  display: none;
}

#heading {
  color: #206ba4;
  font-size: 5vw;
  padding: 4vw 0 3vw;
}

#heading:hover {
  cursor: default;
}

input {
  font-size: 1.5vw;
  display: block;
  margin: 1vw auto;
}

#start-btn {
  font-family: 'Baloo Bhaina';
  font-size: 2vw;
  line-height: 3vw;
  background: #206ba4;
  color: #ebf4fa;
  padding: 0.4vw 1.5vw 0;
  border: none;
  border-radius: 1vw;
  outline: none;
}

#start-btn:hover {
  color: black;
  background: #ffab35;
  cursor: pointer;
}

img[id^="icon"] {
  width: 25vw;
  height: auto;
}

#icon-male,
#icon-female {
  position: relative;
}

#icon-male {
  left: 8vw;
}

#icon-female {
  right: 8vw;
}

#icon-male:hover,
#icon-female:hover {
  background: #206ba4;
  border-radius: 50%;
  cursor: pointer;
}

#icon-male:target,
#icon-female:target {
  background: #ffab35;
  border-radius: 50%;
}



